<table class='table'>
  <thead>
    <tr>
      <th>image</th>
      <th>name</th>
      <th colspan="4"></th>
    </tr>
  </thead>
  
  <tbody>
    <% @another_entries.each do |entry| %>
      <tr>
        <td><%= image_tag entry.user.get_profile_image, size: '50x50' %></td>
        <td><%= entry.user.name%></td>
        <td>
          <%= link_to room_path(entry.room) do %>
            <%= Message.find_by(id: entry.room.message_ids.last)&.body %>
          <%end%>
        </td>
      </tr>
    <%end%>  
  </tbody>
  
</table>